<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Ayush Agarwal, ayush, ayush agarwal ml, agarwal, ayush agarwal blog, ayush agarwal iitr">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!--<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">-->
  {% seo %}
  <meta property="og:image" content="https://ayushagarwal.ml/blog/assets/img/mypic.jpg" />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">

  <!--Favicon-->
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon">

<!-- Google Adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7443410827793980",
    enable_page_level_ads: true
  });
</script>

</head>
