<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span><br>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/{{site.gplus_username}}"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://facebook.com/{{site.facebook_username}}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="https://ayushagarwal.ml/blog/index.html" data-scroll>Blog</a>
        <a class="link" href="https://ayushagarwal.ml/blog/about.html" data-scroll>About Me</a>
        <a class="link" href="https://ayushagarwal.ml/blog/contact.html" data-scroll>Contact</a>
      </div>
  </div>
  
</div>
